.cart_icon {
    position: relative;
  }
  
  .cart_badge {
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    background-color: #FF8F28;
    color: white;
    font-size: 12px;
    border-radius: 50%;
  }
  