.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 10px 0;
  background: #ffffffbe;

  .nav {
    list-style: none;
    display: flex;
    align-items: center;

    &__item {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #000000;
      text-decoration: none;
      margin: 0 20px;
      transition: all 500ms ease;

      &:hover {
        color: #ff8f28;
        transform: scale(10);
      } 
    }

    .line {
        width: 30px;
        border: 1px solid black;
        transform: rotate(90deg);
    }
  }
}
