.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  min-height: 100vh;
  background-color: #F5F5F5;
}

.hero {
  width: 100%;
  min-height: 100vh;
  background-image: url(../../public/HeroBg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  &__content {
    h1 {
      font-size: 45px;
    }
    &_text {
      width: 33%;
    }
    @media (max-width: 1200px) {
      align-items: center;
      &_text {
        width: 80%;
      }
      h1 {
        text-align: center;
        font-size: 35px;
      }
    }
  }

  &__big {
    color: #ff8f28;
    font-weight: 600;
    font-size: 120px;
    line-height: 78%;
    @media (max-width: 1200px) {
      text-align: center;
      font-size: 45px;
    }
  }
}

.card {
  margin-top: -40px;
}

.mission {
  display: flex;
  align-items: center;
  background-image: url(../../public/MissionBg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  min-height: 50vh;

  h1 {
    font-weight: 600;
    font-size: 60px;
    line-height: 87.5%;
    text-align: right;
    color: #858585;
    width: 80%;
    text-transform: uppercase;

    span {
      color: #ff8f28;
    }

    @media (max-width: 1200px) {
      width: 100%;
      font-size: 45px;
      text-align: center;
    }
  }
}

.pillars {
  overflow: visible;
  margin: 40px 0;
  position: relative;
  width: 100%;
  height: 100%;

  &__card {
    background: #f0f0f0;
    border-radius: 8px;
    padding: 10px 30px;
    &_right {
      width: 20%;
      text-align: right;
    }
    &_left {
      width: 20%;
      text-align: left;
      }
  }

  &__element {
    position: absolute;
    z-index: 900;
    right: 50%;
    transform: translate(50%);
  }
  h1 {
    position: relative;
    z-index: 901;
  }

  &__bg {
    overflow: visible;
    position: absolute;
    z-index: 1;
    background-image: url(../../public/pillarsBg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
  }

  @media (max-width: 1200px) {
    &__element {
      width: 25rem;
      object-fit: contain;
    }
    h1 {
      font-size: 25px;
    }
  }
  @media (max-width: 770px) {
    &__element {
      display: none;
    }
    &__card {
      flex-direction: column;
      align-items: center;
      &_left {
        width: 100%;
      }
      &_right  {
        width: 100%;
      }
    }
  }
}
