.image {
    width: 300px;
    border-radius: 8px;
    object-fit: contain;
}

.section {
    height: 100%;
    @media (max-width:770px) {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        .image {
            width: 250px;
        }
    }
}